@use '@/styles/mixins' as cfg;

.errorContainer {
  margin: auto;
  @include cfg.flexFullCenter;
  text-align: center;
  flex-direction: column;
}

.errorTitle {
  @include cfg.fontS;
  @include cfg.flexFullCenter;
  font-weight: 500;
  display: flex;
  gap: 4px;
}

.errorMessage {
  margin-top: 8px;
  margin-bottom: 12px;
  @include cfg.fontXS;
  font-weight: 500;
  color: var(--ui-text-secondary-color);
}

.errorIcon {
  opacity: 0.9;
  margin-top: -2px;
}
